body{
background-color:#80ff80;
width: 100%;

}


#form{
text-align:center;
background-color: white;
width: 40%;	
padding-top: 60px;
padding-bottom:40px;
margin-left:400px;
margin-top: 150px;
font-family: Arial, san serif;
}

input{
width: 320px;
height:50px;
background-color:#f1f1f1 ;
border: 1px solid #e7e7e7 ;
font-size:15px;
padding-left: 10px
}

button{
background-color:green;
width:340px;
height: 60px;
color: white;
border: 2px solid #e7e7e7 ;
font-size: 22px;
}

#create{
	color:green;
}